{erl_opts, [debug_info]}.

{dialyzer, [
    {plt_extra_apps, [epgsql, amqp_client, rabbit_common, jsx, liver]}
]}.

{deps, [
    {amqp_client, "4.2.1"},
    {epgsql, "4.7.1"},
    {liver, {git, "https://github.com/erlangbureau/liver.git", {branch, "0.9.4"}}},
    {jsx, "3.1.0"}
]}.
{eunit_tests, [time_tracker_time_tests, time_tracker_attendance_tests]}.
{project_apps, [time_tracker]}.

{relx, [
    {release, {time_tracker, "0.1.0"}, [
        time_tracker,
        sasl,
        liver
    ]},

    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
