{erl_opts, [debug_info]}.
{deps, [
    {amqp_client, "4.2.1"},
    {epgsql, "4.7.1"},
    {liver, {git, "https://github.com/erlangbureau/liver.git", {branch, "0.9.4"}}},
    {jsx, "3.1.0"}
]}.
{eunit_tests, [time_tracker_time_tests]}.
{project_apps, [time_tracker]}.

{relx, [
    {release, {time_tracker, "0.1.0"}, [
        time_tracker,
        sasl,
        liver
    ]},

    {mode, dev},

    %% automatically picked up if the files
    %% exist but can be set manually, which
    %% is required if the names aren't exactly
    %% sys.config and vm.args
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}

    %% the .src form of the configuration files do
    %% not require setting RELX_REPLACE_OS_VARS
    %% {sys_config_src, "./config/sys.config.src"},
    %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [
    %% prod is the default mode when prod
    %% profile is used, so does not have
    %% to be explicitly included like this
    {prod, [
        {relx, [
            {mode, prod}

            %% use minimal mode to exclude ERTS
            %% {mode, minimal}
        ]}
    ]}
]}.
