[
  {time_tracker, [
    {pg, #{
      host => "postgres",
      port => 5432,
      username => "postgres",
      password => "postgres",
      database => "time_tracker"
    }},
    {rabbitmq, #{
      host => "rabbitmq",
      port => 5672,
      username => "guest",
      password => "guest",
      vhost => "/"
    }},
    {rpc_queue, "time_tracker_rpc"},
    {reconnect_backoff_ms, 2000}
  ]},
  {kernel, [{logger_level, info}]}
].
